
@media only screen and (max-width: 1440px) {
	
	#AccessibleNav { padding-left:1rem !important; }
	#siteNav > li > a { margin-right:25px; }
	
	.slideshow .topCenter .slideshow-content { top:10px; }
	.slideshow .mega-subtitle { margin-bottom:10px; }
	
	.latest-blog-post-slider .slick-arrow { opacity:1; visibility:visible; }
	.latest-blog-post-slider .slick-prev { left:-10px; }
	.latest-blog-post-slider .slick-next { right:-10px; }
}


@media only screen and (max-width: 1199px) {
	.prs-0 { padding-right:0 !important; }
	.pls-0 { padding-left:0 !important; }
	
	.top-bar { font-size:15px; }
	.top-bar .icon { font-size:18px; }
	
	#siteNav > li > a { font-size:17px; margin-right:20px; }
	
	.make-btn { height:50px; width:50px; padding:0; line-height:44px; }
	.make-btn span { display:none; }
	
	.feature-section .feature-section-in h3 { font-size:25px; }
	.feature-section .items li { width:25%; }
	
	.logo-bar .slick-arrow, .logo-bar .slick-arrow:hover { opacity:1; visibility:visible; }
	.logo-bar .slick-next { right:0; }
	.logo-bar .slick-prev { left:0; }
	
}


@media only screen and (max-width: 1024px) {
	
}


@media only screen and (max-width: 991px) {
	h1, .h1 { font-size:35px; }
	h2, .h2 { font-size:30px; }
	h3, .h3 { font-size:24px; }
	h4, .h4 { font-size:20px; }
	h5, .h5 { font-size:18px; }
	h6, .h6 { font-size:16px; }
	
	.logo { border:0; padding-right:0; }
	
	/* Responsive Menu */
	.mobile-nav-wrapper { display:block; }
	body.menuOn .page-wrapper { left:270px }	
	body.menuOn .modalOverly { display:block; }
	#pageWrapper { position:relative; left:0; -ms-transition:all 0.4s ease-in-out; -webkit-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }
	.js-mobile-nav-toggle .cps { display:none; color:#000; }
	.site-header__menu { border:0; padding:0; font-size:24px; display:block; cursor:pointer; }
	.js-mobile-nav-toggle.mobile-nav--open .cps.cp-bars,
	.js-mobile-nav-toggle.mobile-nav--close .icon.cps.cp-times { display:inline-block; }
	#MobileNav { height:100%; overflow:auto; list-style:none; padding:0; margin:0; }
	.mobile-nav-wrapper .closemobileMenu { color:#000; font-size:16px; font-weight:600; text-transform:uppercase; padding:10px; background-color:#eee; cursor:pointer; }
	.mobile-nav-wrapper .closemobileMenu .cps { font-size:18px; padding:0; float:right; width:25px; height:25px; line-height:25px; text-align:center; }
	.mobile-nav-wrapper { width:270px; height:100%;position:fixed; left:-270px; top:0; z-index:10000; background-color:#ffffff; box-shadow:0 0 5px rgba(0,0,0,0.3); opacity:0; visibility:hidden;-ms-transition:all 0.4s ease-in-out; -webkit-transition:all 0.4s ease-in-out; transition:all 0.4s ease-in-out; }
	.mobile-nav-wrapper.active { left:0; opacity:1; visibility:visible; }
	#MobileNav li { border-top:1px solid #eeeeee; position:relative }
	#MobileNav li.grid__item {float:none;padding:0 }
	#MobileNav li a { color:#303030; font-size:17px; text-decoration:none; display:block; padding:10px 45px 10px 10px; opacity:1; -webkit-font-smoothing:antialiased; font-weight:600; letter-spacing:0; text-transform:uppercase; position:relative }
	#MobileNav li a .cps { color:#303030; font-size:19px; display:block; width:48px; height:48px; line-height:48px; position:absolute; right:0; top:0; text-align:center; }
	#MobileNav li a .lbl { color:#ffffff; font-size:10px; font-weight:400; letter-spacing:0; line-height:1; text-transform:uppercase; display:inline-block; padding:2px 4px; border-radius:3px; background-color:#f00; box-shadow:0 0 3px rgba(0,0,0,0.3); position:relative; vertical-align:middle }
	#MobileNav li a .lbl:after { content:" "; display:block; width:0; height:0; position:absolute; bottom:3px; left:-7px; border:4px solid transparent; border-right-color:#f00 }
    #MobileNav li a.active { color: #d30a0c; }
	#MobileNav li a .lbl.nm_label1 { background-color:#01bad4 }
	#MobileNav li a .lbl.nm_label1:after { border-right-color:#01bad4 }
	#MobileNav li a .lbl.nm_label2 { background-color:#f54337 }
	#MobileNav li a .lbl.nm_label2:after { border-right-color:#f54337 }
	#MobileNav li a .lbl.nm_label3 { background-color:#fb6c3e }
	#MobileNav li a .lbl.nm_label3:after { border-right-color:#fb6c3e  }
	#MobileNav li a .lbl.nm_label4 {background-color:#d0a306  }
	#MobileNav li a .lbl.nm_label4:after { border-right-color:#d0a306 }
	#MobileNav li a .lbl.nm_label5 { background-color:#af4de2  }
	#MobileNav li a .lbl.nm_label5:after { border-right-color:#af4de2 }
	#MobileNav li ul { display:none; background-color:#f2f2f2; list-style:none; padding:0; margin:0; }
	#MobileNav li li a { padding-left:20px  }
	#MobileNav li li li a { padding-left:30px; font-weight: 400; } 
	#MobileNav li li li li a { padding-left:40px; }
	#MobileNav .info { padding:15px 10px; background-color:#efefef; font-size:16px; border-bottom:1px solid #e1e1e1; }
	#MobileNav .info .icon { font-size:21px; }
	#MobileNav .social { padding:15px 10px; background-color:#efefef; }
	#MobileNav .social a { padding:0 6px; font-weight:normal; }
	/* End Responsive Menu */
	
	.make-btn { height:35px; width:35px; padding:0; line-height:28px; }
	.make-btn i { font-size:18px; }
	.search-icon { font-size:18px; line-height:30px; width:35px; height:35px; padding:0; }
	#search-popup { padding:20px 18px 20px 0; }
	
	.header { min-height:60px; }
	.serach-site { padding:0 !important; }
	
	.slideshow .mega-subtitle { font-size:16px; }
	.slideshow .mega-title { font-size:40px; }
	
	.feature-section { margin-top:-80px; }
	.feature-section .feature-section-in { padding:40px; }
	.feature-section .feature-content .btn { font-size:20px; height:50px; padding:7px 35px; }
	
	.section { padding:70px 0; }
	.logo-section.mt-5 { margin-top:0 !important; }
	
	.why-choose-section .item { width:50%; float:left; padding-right:20px; }
	.why-choose-section .item:nth-of-type(2n) { padding-right:0; }
	.why-choose-section .item:nth-of-type(2n+1) { clear:both; }
	.why-choose-section .why-img:after { bottom:0px; }
	.why-choose-section .why-img { position:relative; }
	
	.about-section .about-content { padding:40px; background-color:rgba(0,0,0,0.7); }
	
	.counter-section { margin-top:70px; }
	.counter-item p { font-size:16px; }
	.counter-item .counter { font-size:40px; }
	.counter-section .counter-item { padding:30px 10px; }
	.counter-item .icon i { font-size:60px; }
    
    .page-banner { padding: 60px 0; }
    .page-banner h1, .page-banner h2 { font-size: 60px; line-height: 1.5; }
    .page-banner .sort-title { font-size: 16px; }
    
    .large-font { font-size: 20px; line-height: 30px; }
    .about-text-image-section h3 { font-size: 26px; }
    
    .benefit-section .box-content { margin-bottom: 20px; }
    
    .pricingtable-wrapper { margin-bottom: 70px; }
    
    .feature-text-image-section .img { margin-top: 20px; width: 100vw; }
    .feature-text-image-section .img img { margin: 0 auto; display: block; }
    .feature-text-image-section2 img { margin-bottom: 20px; }
    .feature-text-image-section2 .bg-img { right: 20px; height: 60%; }
    .feature-text-image-section2 .location-text { margin-top: 90px; }
    
    .error-content .title { font-size: 130px; }
    .error-content h2 { font-size: 50px; }
    
    .content-with-sidebar .sidebar { order: 2; -ms-order: 2; -webkit-order: 2; }
    .content-with-sidebar .main-col { order: 1; -ms-order: 1; -webkit-order: 1; }
    
    .btn.btn-filter:before { content: "\f0b0"; font-family:"capacity-bold"; font-size: 23px; line-height: 20px; vertical-align: middle; }
    .filterbar { width:270px; height:100%; padding:0 !important; background-color:#ffffff; box-shadow:0 0 5px rgba(0,0,0,0.3); position:fixed; top:0; left:-275px; z-index:9999; -ms-transition:0.5s; -webkit-transition:0.5s; transition:0.5s; }
    .filterbar .sidebar-filters { position:relative; z-index:9; background:#ffffff; padding:20px; height:100%; overflow:auto; }
    .filterbar.active { left:0; }
    .filterbar.active .closeFilter { color:#ffffff; font-size:15px; line-height:32px; height:30px; width:30px; text-align:center; cursor:pointer; position:absolute; top:10px; left:100%; background-color:#000000; -ms-transition:all 0.4s ease-in-out; -webkit-transition:all 0.4s ease-in-out; transition:all 0.4s ease-in-out; }
    .filterbar.active .closeFilter:after { content:''; background:rgba(0,0,0,0.5); position:fixed; top:0; bottom:0; left:0; right:0; z-index:-1; }
    .sidebar.filterbar .block { padding: 0; border: 0; }
    .sidebar .block-categories .block-content { max-height: inherit; overflow: visible; }
}


@media only screen and (max-width: 767px) {
	body { font-size:16px; line-height:1.5; }
	
	.logo { text-align:center; }
	
	.slideshow img.mobile-hide { display:block; }
	.slideshow img.desktop-hide { display:none; }
	
	.slideshow .mega-title { font-size:30px; padding:0; }
	.slideshow .mega-subtitle { font-size:14px; }
	.slideshow .mega-subtitle .sep { padding:0 5px; }
	.slideshow .wrap-caption { padding:10px; }
	
	.feature-section .feature-section-in { padding:25px; }
	.feature-section .feature-section-in h3 { font-size:20px; }
	.feature-section .items li .icon { font-size:40px; line-height:80px; height:80px; width:80px; }
	.feature-section .items li h5 { font-size:16px; }
	
	.why-choose-section .item .title h4 { font-size:20px; }
	.why-choose-section .item .title i { font-size:50px; }
	
	.section-title .title { font-size:30px; }
	
	.counter-section .counter-item { margin-bottom:20px; }
	.counter-section .col-12:last-of-type .counter-item { margin-bottom:0; }
	
	.demo-gallery a:after { font-size:40px; }
	.gallery-section { margin-top:20px; }
	.faqs-section .accordion-item .accordion-button { font-size:20px; }
    
    .footer-top { padding: 60px 0; }
    .footer-col .title { font-size: 20px; border-bottom-width: 1px; }
    .footer .footer-col { margin-bottom: 15px; }
    .footer .footer-links { padding-top:8px; padding-bottom:8px; position:relative; }
    .footer .footer-links .title { cursor:pointer; padding-bottom:15px; margin-bottom:0; }
    .footer-col .title:after { display: none; }
    .footer .footer-links .title:before { content:"\f107"; font-family:"capacity-bold"; font-size:15px; display:block; position:absolute; right:10px; top:3px; }
    .footer .footer-links .title.active:before { content:"\f106"; }
    .footer .footer-links ul { display:none; padding-top:10px; }
    
    .text-section { font-size: 20px; }
    .about-text-image-section .img { width: 100%; }
    
    .contact-info { margin-bottom: 20px; }
    
    .feature-text-image-section2 { padding-top: 0 !important; padding-bottom: 0 !important; }
    .feature-text-image-section2 .bg-img { display: none; }
    .feature-text-image-section2 .location-text { margin-top: 20px; }
    
    .error-content { margin-top: 0; background-color: rgba(255,255,255,0.8); padding: 20px; text-align: center; }
    .error-content .title { color: #d30a0c; font-size: 90px; letter-spacing: 20px; text-shadow: 0 0 11px rgba(0,0,0,0.4); }
    .error-content h2 { font-size: 35px; }
    
    .product-single-detail .product-title { font-size: 28px; }
    .product-single { padding: 10px 0; }
    
    .tabs-listing .tab-container { padding-top: 0; }
    .tabs-listing .tabs-ac-style { color: #303030; font-size: 16px; font-weight: 600; text-transform: uppercase; background-color: #eee; padding: 13px 35px 13px 15px; cursor: pointer; position: relative; border-radius: 5px; }
    .tabs-listing .tabs-ac-style.active { color: #fff; background-color: #303030; }
    .tabs-listing .tabs-ac-style:before { content: "\f107"; font-family: "capacity-bold"; font-size: 14px; position: absolute; right: 13px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
    .tabs-listing .tabs-ac-style.active:before { content: "\f106"; }
    
    #reviews .px-4 { padding-left: 15px !important; padding-right: 15px !important; }
    
    .store-features.section-sm { padding: 30px 0; }
    
    .infolinks { flex-wrap: wrap; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; }
    .infolinks a { margin-bottom: 10px; }
    
    .cart-products { margin-top: 50px; }
    .cart-products thead { display:none }
    .cart-products tr { border-bottom:1px solid #e8e8e8; position:relative; display:block; padding-left:95px; padding-bottom:20px; background:0 0; margin-bottom:20px; overflow:hidden }
    .cart-products td { display:block; border:none; text-align:right; margin-bottom:10px; padding:0 }
    .cart-products td:last-child { margin:0 }
    .cart-products tfoot tr { padding-left: 0; text-align: center; }
    .cart-products tfoot td { display: inline; }
    .cart-products td:before { content:attr(data-title); font-weight:500; float:left; display:block; color:#232323; font-size:13px }
    .cart-products .product-remove { width:auto; position:absolute; right:0; margin:0; padding:0; text-align:right; top:0; z-index:11; border:none }
    .cart-products .product-thumbnail { position:absolute; left:0; width:80px; display:inline-block; top:0; overflow:hidden; text-align:left }
    .cart-products .product-name { text-align:left; padding-right:25px }
    .cart-products .product-name .variation { float:none; display:block }
    .total-price-table td { text-align:right }
    .cart-products .qtyField { display: inline-block; width: 90px; }
    .cart-products .qtyField .qtyBtn.plus { top: 0; }
    .cart-products .table > :not(:last-child) > :last-child > * { border-bottom-color: #e4e4e4 !important; }
    
    .feature-text-image-section2 .img { width: 100% !important; min-height: inherit; margin-bottom: 20px; }
    .feature-text-image-section2 .img div { position: static !important; }
    
    .page-banner h1, .page-banner h2 { font-size: 50px; }
    
    .product-details-img .zoompro-wrap #zoompro { pointer-events: none; }
    .zoomContainer { display: none; }
    
    .section { padding: 50px 0; }
    .demo-gallery a:hover figure { display: none !important; }
}

@media only screen and (max-width: 575px) {
	
	.logo img { max-width:165px; }
	
	.slideshow .mega-subtitle { display:none; }
	
	.feature-section .items li { width:50%; margin-bottom:10px; }
	.feature-section .items li:nth-of-type(2n+1) { clear:left; }
	.feature-section .items li .icon { margin-bottom:10px; }
	.feature-section .items li h5 { font-size:15px; }
	
	.counter-section .counter-item { padding:20px 10px; }
	.counter-item .icon { margin-bottom:10px; }
	.counter-section .col-12 .counter-item {  border-bottom:10px solid #d30a0c !important; }
	.counter-section .col-12:nth-of-type(odd) .counter-item { border-bottom:0; border-top:0; }
	.counter-section .col-12:nth-of-type(even) .counter-item { border-top:0; border-bottom:0; }
    
    .footer-top { padding: 50px 0; }
    .footer:before { width: 50px; height: 52px; background-size: 50px; top: -21px; }
    .newsletter-section .newsletter-input { font-size: 17px; height: 70px; padding: 0 145px 0 20px; }
    .newsletter-section .btn { font-size: 17px; }
    .social-col a { margin-right: 10px; font-size: 18px; line-height: 30px; width: 30px; height: 30px; }
    .newsletter-section .btn { padding: 12px 15px; font-size: 16px; }
    .newsletter-section .newsletter-input { font-size: 16px; padding: 0 135px 0 14px; }
    
    .page-banner.gray-bg { padding: 30px 0; }
    .page-banner h1:after, .page-banner h2:after { top: 0; }
    .page-banner h1, .page-banner.gray-bg h1 { font-size: 35px; line-height: 1.3; margin-bottom: 10px; }
    .page-banner { padding: 40px 0; }
    
    .benefit-section-items { margin-top: -100px; }
    .benefit-section .box-content h4 { font-size: 20px; }
    .benefit-section .box-content h4 br { display: none; }
    
    .quotes-slide .rte-setting { padding: 20px 30px 50px 30px; }
    
    .services-items .box-content .curve { height: 48px; top: -25px; }
    .services-items .box-content .bcurve { height: 48px; bottom: -25px; }
    
    .feature-text-image-section2 .bg-img { height: 55%; }
    
    .gallery-list .col { width: 48.5%; margin-right: 2.5%; }
    .gallery-list .col:nth-child(3n) { margin-right: 2.5%; }
    .gallery-list .col:nth-child(2n) { margin-right: 0; }
    
    .pagination li a { margin: 0 2px; }
    
    .post-detail .post-title h1 { font-size: 30px; }
    
    .social-sharing a { font-size: 18px; line-height: 30px; width: 30px; height: 30px; margin-right: 10px; }
    
    .author-box .d-flex { flex-direction: column; -webkit-flex-direction: column; -ms-flex-direction: column; }
    .author-box .author-thumb { margin-right: 0;  margin-bottom: 20px; }
    
    .cart-products tfoot td .btn { margin-bottom: 10px; display: block; width: 100%; margin-left: 0 !important; margin-right: 0 !important; }
    .cart-products { margin-bottom: 0 !important; }
    
    .about-section .about-content { padding: 30px; }
    .blog-grid .item .h3 { font-size: 20px; } 
    .blog-grid .item .post-excerpt { display: none; }
    .blog-grid .item .meta-post .sep { padding: 0 5px; }
    
    .products-grid .product-details { flex-direction: column; -webkit-flex-direction: column; -ms-flex-direction: column; }
    .products-grid .product-details-in { padding-right: 0; order: 2; -ms-order: 2; -webkit-order: 2; }
    .products-grid .product-review { text-align: left; margin-bottom: 5px; }
    
    .page-banner.gray-bg { margin-bottom: 10px; }
    
    .appointment-form-in { padding: 20px; }
}


@media only screen and (max-width: 480px) {
	
	.top-bar a span { display:none; }
	
	.slideshow .mega-title { font-size:25px; }
	
	.why-choose-section .item { width:100%; padding-right:0; margin-bottom:20px; }
    
    .products-list .sort-description,
    .products-grid .add-to-cart .btn .label, .products-list .add-to-cart .btn .label { display: none; }
    
    .productSlider.slick-slider .slick-slide { margin: 0; }
    .productSlider.slick-slider .slick-prev { left: 0; }
    .productSlider.slick-slider .slick-next { right: 0; }
    
    .box-login { padding: 20px; }
}